* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar {
   margin: -2.3em 0 7em; 
   background-color: brown;
  }
  h2 {
    text-align: center;  
  }
  
  .main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  form {
    text-align: center;
    width: 90%;
    background-color: #efefef;
    padding: 20px;
    color: #110808;
    border-radius: 20px;
  }





  .disable{
    display: none !important;

}.simulador__result{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(54, 255, 54);
  margin-top: 2rem;
  border-radius: 5px;
  gap: .5rem;
  text-align: center;
  color: #000000;
}

.simulador__result-actions button{
  outline: none;
  border: none;
  padding: .5rem;
  border-radius: 5px;
  width: 70px;
  margin-right: 2rem;
  background-color: #000;
  color: #ffffff;
  cursor: pointer;
}

.simulador__result-actions button:last-of-type{
  margin-right: 0rem
}